{
  "solid": {
    "podServerUrl": "http://localhost:3000",
    "oidcIssuer": "http://localhost:3000",
    "podPath": "/health-pim/"
  },
  "auth": {
    "clientName": "OpenCommons Health PIM",
    "clientId": "YOUR_CLIENT_ID",
    "clientSecret": "YOUR_CLIENT_SECRET",
    "redirectUrl": "http://localhost:8080/callback",
    "tokenStoragePath": "./.tokens"
  },
  "app": {
    "port": 8080,
    "logLevel": "debug"
  }
}
